.about-container {
    padding: 50px;
    margin-top: 140px !important;
    margin: auto;
    max-width: 800px;
    background-color: var(--input-bg);
    color: var(--text-color);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  }
  
  .about-container h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  